@import 'var.css';

.container {
    box-sizing: border-box;
    width: 100%;
    max-width: 396px;
    margin: 0 auto;
    padding: 0 8px;

    @media (min-width: $min-sm) {
        max-width: 704px;
}

    @media (min-width: $min-xl) {
        max-width: 966px;
}
}

.content {
    display: grid;

    grid-auto-flow: dense;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 16px;
}

body {
    margin: 0;

    font-family: 'YS Text';
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

button {
    margin: 0;
    padding: 0;

    border: none;
}

button:focus {
    outline: none;
}
