@import 'var.css';

.post {
    position: relative;
    display: grid;
    margin-bottom: 30px;
}

.post__title {
    margin: 0;
    padding-bottom: 2px;
    font-size: 19px;
    font-weight: 700;
    line-height: 23px;
    max-height: 69px;
    background-color: #ffffff;
    overflow: hidden;
}

.post__descr {
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
    overflow: hidden;
}

.post__img {
    font-size: 0;
}

.post__img img {
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.post__author {
    display: none;
    font-weight: 700;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post__footer {
    display: flex;
    justify-content: space-between;
}

.post__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post__like {
    cursor: pointer;
    background-color: transparent;

    svg {
      width: 18px;
      height: 16px;
    }
}

.post__actions {
    cursor: pointer;
    background-color: transparent;

    svg {
      width: 14px;
      height: 16px;
    }
}

.post_size_l {
    grid-column: span 6;
    grid-column-gap: 16px;
    grid-template-areas:
        't'
        'i'
        'd'
        's';
    @media (min-width: $min-sm) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto 1fr 1fr auto;
        grid-template-areas:
            'i i t'
            'i i d'
            'i i d'
            'i i s';
    }

    .post__img {
        grid-area: i;
        margin-bottom: 0;
    }

    .post__img img {
        height: auto;
    }

    .post__title-container {
        grid-area: t;
    }

    .post__descr {
        grid-area: d;
    }

    .post__social {
      width: 100%;
    }

    .post__footer {
        grid-area: s;

        svg {
          fill: #d3d3d3;
        }
    }
}

.post_size_m {
    grid-column: span 6;
    grid-template-areas:
        't'
        'i'
        'd';

    @media (min-width: $min-sm) {
        grid-column: span 3;
    }

    .post__title-container {
        position: relative;
        max-height: 23px;
        margin: 0 0 8px;
    }

    .post__img {
        margin-bottom: 8px;
    }

    .post__img img {
        height: 250px;
    }

    .post__descr {
        max-height: 60px;
        overflow: hidden;
        padding-right: 44px;
    }

    .post__social {
        grid-area: d;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;

        svg {
          fill: #d3d3d3;
        }
    }
}

.post_size_s {
    grid-column: span 6;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        't'
        'd'
        's';

    &:not(.post_no-image) {
        grid-template-areas:
            't'
            'i'
            'i';

        .post__social {
            grid-area: i;
            position: absolute;
            flex-direction: column;
            bottom: 16px;
            right: 16px;
            height: 120px;

            svg {
              fill: #ffffff;
            }
        }
    }

    @media (min-width: $min-sm) {
        grid-column: span 3;
    }

    @media (min-width: $min-lg) {
        grid-column: span 2;
    }

    &.post_no-image {
        display: block;

        .post__img {
            display: none;
        }

        .post__actions {
            margin-right: 24px;
        }

        .post__author {
            display: block;
        }

        .post__title-container {
            max-height: none;
        }

        .post__footer {

            grid-area: s;

            @media (min-width: $min-md) {
              position: absolute;
              width: 100%;
              bottom: 0;
            }
        }

        .post__social {
            svg {
              fill: #d3d3d3;
            }
        }
    }

    .post__title-container {
        grid-area: t;
        position: relative;
        margin: 0 0 8px;
        max-height: 46px;
    }

    .post__img {
        grid-area: i;
    }

    .post__descr {
        grid-area: d;
        margin-bottom: 24px;

        @media (min-width: $min-md) {
          margin-bottom: 0;
        }
    }
}
